
.DS_Store
brainstorm/~$ch to be used.docx
Data Vis/pressure.html
Data Vis/accelerations.html
Data Vis/gravity.html
Data Vis/magnetic.html
Data Vis/rotation.html
*.html
!Animations/main.html
!Animations/index.html
Animations/index.html___jb_old___
Animations/index.html___jb_tmp___